*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background: rgb(144, 144, 228);
  color: black;
  padding: 30px;
}
img{
  height: 300px;
  width: 300px;
  box-shadow: 3 2 2 5px rgb(221, 199, 199);
}

.grid .info h3{
  padding: 6px;
}

.grid{
  display: grid;
  grid-template-columns: 100px;
  gap: 40px;
}

@media(min-width: 780px){
    .grid{
      grid-template-columns: 400px 400px;
    }
}
@media(min-width: 992px){
    .grid{
      grid-template-columns: 600px 600px;
    }
}